<h1> <strong> Titanic Competition Kaggle </strong> </h1>
<hr>

This is the notebook to develop the competition related to <a href = "https://www.kaggle.com/competitions/titanic/data">Titanic</a> competiton. First I load the libraries requered to implemented.

<h2> <strong> Libraries </strong> </strong> </h2>
<hr>

The next are the libraries implemented to the challenge:
<ul>
<li> pandas 
<li> os
<li> numpy
<li> ptitprince
<li> matplotlib.pyplot
</ul>

In [1]:
import pandas as pd
import os
import numpy as np
import ptitprince as pt
import matplotlib.pyplot as plt

<h2> <strong> Databases </strong> </h2>
<hr>

Now we must load the data to work. In this case we have two databases:
<ul>
<li> test.csv with this, we prove the models implemented.
<li> train.csv has all of the registers to train the models that i want to use.
</ul>

In [2]:
os.chdir(path=os.getcwd() + "\\Titanic_Competition_Kaggle")
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")

<h2> <strong> Exploratory Analysis </h2> </strong>
<hr>

After load the databases, I do a exploratory analysis. Also we modify the variables acording they nature.

In [3]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

With the last code, we can identify the types of each column, and with this, change to the correct type.

In [4]:
test = test.astype({"PassengerId":str, "Sex": "category", "Pclass":"category", "Embarked": "category"})
train = train.astype({"PassengerId":str, "Sex": "category", "Pclass":"category", "Embarked": "category"})

Now we calculate a metrics to see the comportament of the data:

In [6]:
train.describe(include='all').fillna(0)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891,891.000000,891.0,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,891,0.000000,3.0,891,2,0.000000,0.000000,0.000000,681,0.000000,147,3
top,1,0.000000,3.0,"Braund, Mr. Owen Harris",male,0.000000,0.000000,0.000000,347082,0.000000,B96 B98,S
freq,1,0.000000,491.0,1,577,0.000000,0.000000,0.000000,7,0.000000,4,644
mean,0,0.383838,0.0,0,0,29.699118,0.523008,0.381594,0,32.204208,0,0
std,0,0.486592,0.0,0,0,14.526497,1.102743,0.806057,0,49.693429,0,0
min,0,0.000000,0.0,0,0,0.420000,0.000000,0.000000,0,0.000000,0,0
25%,0,0.000000,0.0,0,0,20.125000,0.000000,0.000000,0,7.910400,0,0
50%,0,0.000000,0.0,0,0,28.000000,0.000000,0.000000,0,14.454200,0,0
75%,0,1.000000,0.0,0,0,38.000000,1.000000,0.000000,0,31.000000,0,0
max,0,1.000000,0.0,0,0,80.000000,8.000000,6.000000,0,512.329200,0,0